*{
    margin: 0;
    padding: 0;
}

body{
    /* background-image: linear-gradient(  95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% ); */
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
}

.navbarBut{
   
    margin-left: 7rem;
    font-size: 1.3rem;
}

.vl {
    border-left: 0.1rem solid black;
    
    height: 64px;
}

.navBut{
    font-size: 1.3rem;
    padding-left: 2%;
}

.registerBox{
    margin-top: 5%;
    
}


a{
    text-decoration: none;
    color: inherit;
}
 

/* #1ad2fb  */
/*  #0a0b0b; */
/*  #e0e0e0 */
